.books{

    padding-top: 110px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-books);

    gap: 72px;
}

.booksheader{
    width: 63.5%;
    align-items: center;
    justify-content: space-between;
}
.bookssearchwrapper{

    flex: 0 0 35%;
    min-width: 0;
}
.bookssearchbar{

    width: 100%;
    min-width: 0;
    height: 50px;
}

.bookscards{
    width: 63.5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}