

/* Menu */
header {
    /* Gris clair */
    background: var(--bg-header);
}

.header__grid{

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    max-width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 10.4%;
}

.header__brand{
    display: flex;
    align-items: center;
}

.header__nav{
    display:flex;
    justify-content: flex-start;
    margin-left: 12%;
    gap: 40px;
}

.link-text{

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identique à la hauteur de la zone de texte */
    letter-spacing: 0.02em;

    color: var(--text-muted);

}
.link {
    display: inline-flex;
    align-items: center; /* ou center selon ton besoin */
    text-decoration: none;
    gap:5px;
}
.link-text::after{

    content: attr(data-text);
    font-weight: 600;
    overflow: hidden;
    height:0;
    visibility: hidden;
    display: block;
}
.link-text:hover{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identique à la hauteur de la zone de texte */

}
.link-underline {
    text-decoration: underline;
}


.header__actions{
    display: flex;
    align-items: center;
    gap: 60px;
}


.badge {
    background-color: #111;
    color: white;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 4px;
}
