:root {
    --bg-header: #F5F3EF;
    --bg-footer: #FFFFFF;
    --bg-books: #FAF9F7;
    --text-main: #292929;
    --text-muted: #292929;
    --border-light: #dddddd;
    --brand-green: #00a651;
    --button-green: #00AC66;
    --hover-button: #006D41;
    --button-text: #FFFFFF;
    --bg-white-button: #F5F3EF;
    --light-gray-text: #A6A6A6;
}

html,body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-header);
}

h1,h2,h3,h4{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
    margin: 0;
    width: 100%;
}

h1{
    font-size: 36px;
    line-height: 48px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 28px;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identique à la hauteur de la zone de texte */
    letter-spacing: 0.02em;

    color: var(--text-muted);
}

p{
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

}
a,button{
    font-family: 'Inter', sans-serif;
}


button{
    font-size: 16px;
    align-items: center;
    border: none;
    border-radius: 10px;
}
button:hover{
    color: var(--button-text);
    background: var(--hover-button);

}
.greenButton{
    color: var(--button-text);
    background: var(--button-green);
}
.borderGreenButton{
    box-sizing: border-box;
    color: var(--button-green);
    background: var(--bg-white-button);
    border: 1px solid var(--button-green);
}

img{

    max-width: 100%;
    height: auto;

}

a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-optical-sizing: none;
    line-height: 17px;
    letter-spacing: 0.02em;

    color: #292929;
}

.bookcard{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 324px;
    border-radius: 10px;
}
.bookcarddesc{

    width: 180px;
    height: 124px;
    background: var(--bg-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border-radius: 0 0 10px 10px;

}
.bookcardimg{
    min-width: 200px;
    min-height: 200px;


}
