.books{

    padding-top: 110px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-books);

    gap: 72px;
}

.booksheader{
    width: 63.5%;
    align-items: center;
    justify-content: space-between;
}
.bookssearchwrapper{
    flex: 0 0 35%;
    min-width: 0;
}
.bookssearchbar{
    width: 100%;
    min-width: 0;
    height: 50px;

    padding-left: 40px;
    background-image: var(--search-icon);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;

    box-sizing: border-box;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
}

.bookscards{
    width: 63.5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}