.chatsection{

    width: 100%;
    height: 100vh;
    justify-content: center;
}


.contactdiv{

    width: 22%;
    height: 100%;
    background: var(--bg-books);

}
.activecontact{

    background: var(--bg-footer);

}
.contacttitle{

    padding-left: 35px;
    height: 200px;
    justify-content: center;
}
.contactlist{

    width: 100%;
    flex: 1;
    overflow: auto;
}
.contactwrapper{

    width: 100%;
    height: 85px;
    justify-content: center;
    align-items: center;
}
.contact{
    width: 84%;
}
.contact p {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* nombre de lignes avant les "..." */
    overflow: hidden;

}
.contactheader{

    width: 100%;
    justify-content: space-between;

}
.contacttext{
    padding-left: 10px;
    width: 100%;
    gap: 10px;

}


.chatdiv{

    margin-left: 42px;
    width: 58%;
    height: 100%;
    min-height: 0;
}

.chatheader{
    height: 150px;
    align-items: center;
    gap: 10px;
}

.chatdisplay{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    min-height: 0;
    gap: 10px;
    padding-bottom: 130px;
    padding-right: 10px;
}
.msg{
    width: 100%;
    gap:10px;
}
.msgheader{
    align-items: center;
    gap: 5px;
}
.msgdate{

}

.msgbubble{
    width: fit-content;
    background: var(--bg-footer);
    border-radius: 3px;
}
.msgcontent{

    height: auto;
    box-sizing: border-box;

    border: none;
    border-radius: 6px;

    padding: 10px 10px 10px 10px;
    resize: none;
}

.chatbox{
    height: 150px;
    gap: 20px;
}
.chatbar{

    width: 85%;
    height: 50px;

    padding-left: 40px;
    box-sizing: border-box;
    border: 1px solid #F0F0F0;
    border-radius: 6px;

}
.chatsend{

    width: 130px;
    height: 50px;
}