.home{
    margin-top: 80px;
    width: 100%;
    gap: 100px;
}

/* Join Us */
.joinus{

    max-width: 100%;
    padding-left: 20.1%;
    padding-right: 21.5%;
    gap:104px;
}
.joinustxt{
    flex-wrap: nowrap;
    justify-content: center;
    gap: 16px;
}
.discover{
    margin-top: 24px;
    width: 152px;
    height: 63px;

}
.joinusimg{
    max-width: 404px;
}

/* Last Books Added */
.lastbooks{
    width: 100%;
    height: 702px;
    justify-content: space-evenly;
    align-items: center;
    background: #FAF9F7;
}

.newbookslists{
    gap: 40px;
}

.allBooks{
    width: 218px;
    height: 63px;
}

/* How it works */
.howitworks{
    align-items: center;
    justify-content: center;

}
.howitworkstext{
    width: 400px;
    margin-top: 40px;
    text-align: center;
    text-justify: auto;
}
.howitworkscards{

    align-items: center;
    gap: 36px;
    margin-top: 40px;
}
.howitworkscard{
    align-items: center;
    justify-content: center;
    text-align: center;

    max-width: 215px;
    height: 139px;
    background: var(--bg-footer);
    border-radius: 10px;

}
.howitworksbutton{
    margin-top: 48px;
    width: 218px;
    height: 63px;
}

/* Our Beliefs */
.ourbeliefs{
    align-items: center;
    gap: 80px;
}
.ourbeliefstext {
    justify-content: flex-start;
    width: 380px;
    gap: 10px;

}
.beliefsign{

    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identique à la hauteur de la zone de texte */

    /* Gris texte */
    color: var(--light-gray-text);

    min-width: 120px;

}
.ourbeliefssvg{

    display: inline-flex;
    align-items: center;

}
.ourbeliefssvg svg{

    margin-left: 210px;
    flex-shrink: 0;

}






